@page "/Boards/MasterBoard"
@rendermode InteractiveServer

@using System.IO
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using BagOfManyThings.Data
@using BagOfManyThings.Components.Account


@inject NavigationManager NavigationManager
@inject FileService FileService
@inject AuthenticationStateProvider authenticationStateProvider


<h3>Dungeon Master Board</h3>
<div class="row mt-4">
    <div class="col-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title">Campaign Management</h4>
                <p class="card-text">
                    Welcome to your Dungeon Master Board! Here you can manage your campaign's files and notes.
                </p>
                <div class="row">
                    <div class="col-6">
                        @if (!Directory.Exists(basePath))
                        {
                            <button class="btn btn-primary btn-lg" @onclick="CreateUserCampaign">
                                <i class="bi bi-folder-plus"></i> Create New Campaign
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-secondary btn-lg" @onclick="@(() => NavigationManager.NavigateTo("/Boards/MasterBoard/FileDirectory"))">
                                <i class="bi bi-folder-fill"></i> Open Campaign Files
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    private string? UserId;
    private string? basePath;


    protected override async Task OnInitializedAsync()
    {
        var authestate = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = (authestate).User;
        UserId = user.Claims.FirstOrDefault().Value;
        if (UserId == null)
        {
            Console.WriteLine("Not logged in");
            return;
        }
        basePath = FileService.GetUserDirectoryPath(UserId);
    }

    private void CreateUserCampaign()
    {
        if (UserId == null)
        {
            Console.WriteLine("UserId is null");
        }
        else
        {
            FileService.CreateUserDirectory(UserId);
            NavigationManager.NavigateTo("/Boards/MasterBoard/FileDirectory");
        }

    }
}

