@page "/Boards/MasterBoard"
@rendermode InteractiveServer

@using System.IO
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using BagOfManyThings.Data
@using BagOfManyThings.Components.Account


@inject NavigationManager NavigationManager
@inject FileService FileService
@inject AuthenticationStateProvider authenticationStateProvider


<h3>Dungeon Master Board</h3>
<div class="row">
    <div class="col-6">
        @if (!Directory.Exists(basePath))
        {
            <button class="btn btn-primary" @onclick="CreateUserCampaign">Create Campaign Folder</button>
        }
        else
        {
            <button class="btn btn-secondary" @onclick="@(() => NavigationManager.NavigateTo("/Boards/MasterBoard/FileDirectory"))">Open Campaign Files</button>
        }
    </div>
</div>

@code
{
    private string? UserId;
    private string? basePath;


    protected override async Task OnInitializedAsync()
    {
        var authestate = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = (authestate).User;
        UserId = user.Claims.FirstOrDefault().Value;
        if (UserId == null)
        {
            Console.WriteLine("Not logged in");
            return;
        }
        basePath = FileService.GetUserDirectoryPath(UserId);
    }

    private void CreateUserCampaign()
    {
        if (UserId == null)
        {
            Console.WriteLine("UserId is null");
        }
        else
        {
            Console.WriteLine("UserId is {0}", UserId);
            FileService.CreateUserDirectory(UserId);
            NavigationManager.NavigateTo("/Boards/MasterBoard/FileDirectory");
        }

    }
}

