@page "/MasterBoard/FileDirectory"


<PageTitle>File System - Directory</PageTitle>

<h2>File Management</h2>
<p>
    In this sample we go through all directories and files in the <b>Origin Private File System</b> recursively and enable you to delete files and directories.
</p>
