@page "/Boards/MasterBoard/FileDirectory"
@rendermode InteractiveServer

@using System.IO
@using BagOfManyThings.Components.Account
@using BagOfManyThings.Data
@using Microsoft.AspNetCore.Identity

@inject FileService FileService
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider authenticationStateProvider


<PageTitle>File System - Directory</PageTitle>

<h3>Campaign Content</h3>

<AuthorizeView>
    <NotAuthorized>
        <h1 class="text-danger">Access denied</h1>
        <p class="text-danger">Please log into your account.</p>
    </NotAuthorized>
    <Authorized>

        <FileTree basePath="@basePath"/>

    </Authorized>
    <Authorizing>
        <p>Loading your board...</p>
    </Authorizing>
</AuthorizeView>

@code {

    private ApplicationUser user = default!;
    private string? UserId;
    private string? basePath;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var authestate = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = (authestate).User;
        UserId = user.Claims.FirstOrDefault().Value;
        basePath = FileService.GetUserDirectoryPath(UserId);
    }


}