@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello traveler!</h1>

<h3>Welcome to the bag of many things!</h3>
<p>Bag of Many Things is a versatile Dungeon Master tool designed to streamline the organization and sharing of notes, catering to users in various roles. It offers a user-friendly Markdown editor, enabling seamless creation and formatting of text. The application also includes a robust file system for efficient storage and retrieval of notes.
   <br />
    The project emphasizes user experience, while some features like a session functionality are still in the ideation stage, the project demonstrates significant progress and promises to be a valuable tool for note-taking and collaboration.
</p>
