@page "/RolePicker"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using BagOfManyThings.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject NavigationManager NavigationManager


<StatusMessage Message="@errorMessage" />

<AuthorizeView>
    <Authorized>
<h1>Choose Your Role</h1>
<div>
            <button class="btn btn-primary" @onclick="AssignPlayer">Player</button>
            <button class="btn btn-primary" @onclick="AssignDM">Dungeon Master</button>
</div>
    </Authorized>
    <NotAuthorized>
        <div>
        <h1>
            Please log into your account.
        </h1>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    private ApplicationUser? user = default;

    private string? errorMessage = null;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;




    public async Task AssignPlayer()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var result = await UserManager.AddToRoleAsync(user, "Player"); // Assign the role
        if (!result.Succeeded)
        {
            Console.WriteLine("Could not assign Player role.");
            return;
        }
  
            // signing in the user again to update their claims
            await SignInManager.RefreshSignInAsync(user);

            NavigationManager.NavigateTo("/");//change this to Player specific website
        
    }
    public async Task AssignDM()
    {
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);

        var result = await UserManager.AddToRoleAsync(user, "DM"); // Assign the role
        if(!result.Succeeded)
        {
            Console.WriteLine("Could not assign DM role.");
            return;
        }
      
        // signing in the user again to update their claims
        await SignInManager.RefreshSignInAsync(user);

        NavigationManager.NavigateTo("/");//change this to DM specific website
        
        }
}